[Unit]
Description=Go Photos Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/path/to/the/binary
WorkingDirectory=/path/to/the/directory/of/the/binary
Restart=always
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Restart if there are changes in the binary's directory
InotifyWatching=/path/to/the/directory/of/the/binary
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
