<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous"></script>
</head>
<body>
    <form hx-post="/auth/email">
        <input type="email" name="email" required>
        <input type="hidden" name="csrf_token" value="{{ .CSRF_TOKEN}}">
        <button type="submit">continue with email</button>
    </form>
</body>
</html>
